*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea {
  padding: 10px;
}

body * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  color: #3761E9;
}

a:hover path {
  fill: #3761E9;
}

button {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
  color: #fff;
}

button:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.container {
  max-width: 1526px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

.subtitle {
  font-size: 13px;
  line-height: 27px;
  color: #999999;
}

.text {
  color: #666;
}

.subtitle-all {
  font-size: 14px;
  line-height: 20px;
  margin-right: 25px;
}

.flex__row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-space {
  margin-right: 5px;
}

.arrow--top:before {
  content: '';
  border: 3px solid transparent;
  border-top: 3px solid #333;
  position: absolute;
  right: -10px;
  top: 7px;
}

footer * {
  color: #999;
}

.header__container {
  padding: 0 10px 30px;
}

.nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  margin: 0 -15px;
}

.header__city {
  margin: 0 15px;
}

.header__city-text {
  font-size: 13px;
  line-height: 14px;
  position: relative;
  cursor: pointer;
}

.header__city-text:hover {
  color: #3761E9;
}

.header__address-text {
  font-size: 13px;
  line-height: 20px;
}

.header__icon {
  padding: 0px 10px;
}

.header__phone-text {
  position: relative;
  line-height: 18px;
}

.header__phone-text2 {
  font-size: 13px;
  line-height: 19px;
  color: #3562D6;
  margin-left: 20px;
}

.header__lang-text {
  text-transform: uppercase;
}

.header__link {
  margin: 0 15px;
  position: relative;
}

.header__daw {
  position: absolute;
  top: -3px;
  right: -5px;
}

.header__rect {
  position: absolute;
  top: -7px;
  right: -7px;
}

.nav {
  position: relative;
  margin: 0 -15px;
}

.nav__logo {
  margin: 0 15px;
}

.burger {
  margin: 0 15px;
}

.nav__text {
  color: #999;
  font-size: 13px;
  line-height: 20px;
  width: 200px;
  margin: 0 15px;
}

.nav__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__title {
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
  line-height: 18px;
}

.nav__button {
  margin-left: 40px;
  background-color: #3761E9;
  padding: 10px 22px;
}

.nav__item {
  position: relative;
}

.nav__item:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 220px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  -webkit-transition-delay: 0.15s;
       -o-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu__item {
  position: relative;
  padding: 10px 0px;
}

.menu__title {
  padding: 0px 43px 0px 23px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.menu__title:hover {
  color: #3761E9;
}

.menu__arrow {
  position: absolute;
  top: 20px;
  right: 10px;
}

.submenu {
  background-color: #fff;
  color: #333;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  right: -200px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  -webkit-transition-delay: 0.15s;
       -o-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.submenu__title {
  padding: 10px 60px 10px 15px;
}

.menu__title:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 360px));
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-self: stretch;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px 25px;
  height: 480px;
}

.products__item:hover {
  border: none;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  height: 600px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.products__item:hover .products__btn-cart {
  width: 100%;
  background-color: #3761E9;
  color: #fff;
}

.products__item:hover .products__block-price {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products__item-img {
  margin-bottom: 15px;
}

.products__btn {
  position: absolute;
  font-weight: 500;
  top: 28px;
  left: 28px;
  background-color: #ED673C;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
  padding: 4px 6px;
}

.products__btn-soviet {
  background-color: #925AEC;
}

.products__list-btn {
  position: absolute;
  top: 28px;
  right: 28px;
}

.products__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__btn-img {
  margin: 2px 0;
  padding: 7px 7px;
  border: 1px solid #ECECEC;
  background-color: #ffffff;
}

.products__list-text {
  -ms-flex-item-align: start;
      align-self: start;
  margin: 0 -5px;
}

.products__title {
  -ms-flex-item-align: start;
      align-self: start;
  font-size: 15px;
  line-height: 22px;
}

.products__list-availability {
  margin: 0 5px;
}

.circle__green {
  border: 1px solid #5DA911;
  background-color: #69BE15;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 5px;
}

.products__text-availability {
  font-size: 13px;
  line-height: 18px;
  color: #69BE15;
}

.products__subtitle-article {
  margin: 0 5px;
}

.products__block-price {
  margin-top: 15px;
  width: 100%;
}

.products__list-price {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products__item-title {
  font-size: 18px;
  line-height: 25px;
  width: 100%;
}

.products__item-subtitle {
  line-height: 30px;
  font-weight: 600;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 5px;
  margin-top: -5px;
}

.products__item-subtitle-block {
  margin-top: -5px;
  background: #FFD600;
  border: 1px solid #F2CB00;
  border-radius: 3px;
  padding: 3px;
  font-size: 11px;
  line-height: 10px;
  font-weight: 600;
}

.products__btn-cart {
  padding: 10px 15px;
  width: 70%;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid rgba(55, 97, 233, 0.35);
  color: #3761E9;
  background-color: #ffffff;
}

.container--advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1314px;
  width: 100%;
  padding: 30px 10px;
}

.advantage__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}

.advantage__item-text {
  padding: 0 30px;
}

.advantage__list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 410px));
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-self: stretch;
}

.advantage__item {
  background-color: #F7F8FA;
  padding: 40px;
}

.advantage__title-item {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.advantage__img-item {
  margin-bottom: 25px;
}

.advantage__text-item {
  max-width: 330px;
  font-size: 16px;
  line-height: 26px;
}

.advantage__subtitle {
  max-width: 418px;
  font-size: 16px;
  line-height: 30px;
  color: #444;
}

.advantage__title {
  font-size: 32px;
  line-height: 39px;
}

.advantage__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background-color: #58C246;
  text-transform: uppercase;
  padding: 15px 45px;
  margin-top: 45px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services__list-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.services__list-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 475px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.services__list-item {
  position: relative;
}

.services__list-item:hover .services__subtitle {
  display: block;
}

.services__list-item:hover .services__text {
  display: block;
}

.services__subtitle-all {
  position: absolute;
}

.services__text {
  display: none;
}

.services__title-item {
  padding: 34px 14%;
}

.services__subtitle {
  display: none;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}

.container--service {
  margin-bottom: 60px;
}

.service__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__item-subtitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.service__item-icon {
  margin: 0 12px;
}

.service__list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

.aside {
  width: 300px;
  margin-right: 50px;
}

.aside__item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.aside__item {
  border: 1px solid #E5E5E5;
  border-bottom: none;
}

.aside__item:last-child {
  border: 1px solid #E5E5E5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.aside__title {
  padding: 17px 25px;
  position: relative;
  cursor: pointer;
}

.aside__title:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3761E9;
}

.aside__title:before {
  right: 20px;
  top: 29px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside__title.active {
  font-weight: 600;
}

.aside__title.active:after {
  content: '';
  width: 3px;
  height: 10px;
  background: #3562D6;
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  left: 0;
  top: 25px;
}

.aside__title.active:before {
  right: 20px;
  top: 25px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aside__block {
  display: none;
}

.aside__subtitle {
  padding: 0px 25px 10px;
  font-size: 14px;
  line-height: 21px;
}

.aside__subtitle-active {
  font-weight: 700;
}

.service__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1156px;
  width: 100%;
  margin: -50px 0;
}

.service__item-img {
  margin: 50px 0;
}

.service__item-text18 {
  font-size: 18px;
  line-height: 28px;
}

.service__item-title30 {
  font-size: 30px;
  line-height: 44px;
}

.service__item-title26 {
  font-size: 26px;
  line-height: 40px;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}

.about__list-title {
  max-width: 430px;
  width: 100%;
  margin-right: 40px;
}

.about__btn-details {
  padding: 15px 20px;
  margin: 20px 0;
  background-color: #3761E9;
}

.about__list-info {
  max-width: 944px;
  width: 100%;
}

.about__list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 462px));
  gap: 20px;
  max-width: 1004px;
  width: 100%;
  margin-top: 30px;
}

.about__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__list-img {
  margin-right: 15px;
}

.about__list-text {
  padding: 0 20px;
}

.title-about {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-top: -10px;
  padding: 10px 0;
}

.about__list-subtitle {
  font-size: 14px;
  line-height: 21px;
  max-width: 380px;
  color: #666;
}

.video__block {
  position: relative;
  max-width: 1504px;
  width: 100%;
  margin: 0 auto;
}

.about__video {
  width: 100%;
}

.video__btn {
  width: 100px;
  height: 100px;
  background-color: #3562D6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
}

.container--news {
  padding: 30px 0;
}

.test {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  padding-bottom: 63px;
}

.list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news__subtitle-all {
  position: absolute;
  top: 25%;
  right: 20px;
}

.news__text {
  margin-top: 24px;
  max-width: 800px;
}

.list__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 352px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.list__item {
  position: relative;
}

.list__img:hover {
  -webkit-filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.1));
}

.news__subtitle-date {
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  opacity: 0.7;
}

.news__title-item {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 34px 40px;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.form__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__text {
  margin-top: 20px;
  max-width: 992px;
  width: 100%;
  text-align: center;
}

.forma {
  margin: 60px 0;
  max-width: 700px;
  width: 100%;
}

.forma__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__item {
  max-width: 340px;
  width: 100%;
  margin: 0 10px;
}

.form__name {
  width: 100%;
  height: 48px;
  background-color: #F8F8F8;
  border: 1px solid #DDD;
}

.form__item--question {
  max-width: 700px;
  width: 100%;
}

.form__question {
  width: 100%;
  height: 88px;
  resize: vertical;
}

.form__agree {
  font-size: 13px;
  line-height: 20px;
}

.form__btn {
  margin: 0;
}

.footer {
  background-color: #333;
}

.footer__container {
  max-width: 1350px;
  width: 100%;
  padding: 50px 10px;
}

.footer__contacts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone-text {
  margin-left: 10px;
  color: #fff;
}

.footer__phone-text:before {
  border-top: 3px solid #fff;
}

.footer__email-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.footer__address {
  opacity: 70%;
}

.footer__address-text {
  margin-left: 10px;
  color: #fff;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  margin: 0 5px;
  background-color: #484848;
}

.footer__menu {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 20px 60px 20px;
}

.footer__item {
  width: 220px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.footer__subtitle {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin: 4px 0px;
}

.footer__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__icons {
  background-color: #333;
  position: absolute;
  top: -95px;
  z-index: 1000;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px;
  width: 300px;
  height: 70px;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__mailing-text {
  font-size: 13px;
  line-height: 20px;
}

.footer__made-text {
  font-size: 12px;
  line-height: 24px;
  margin-right: 15px;
}

.footer__lang-text {
  color: #fff;
  margin-left: 5px;
}

.footer__lang-text:before {
  border-top: 3px solid #fff;
}

@media (max-width: 1255px) {
  .nav__text {
    display: none;
  }

  .video__btn {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1024px) {
  .social-icons {
    display: none;
  }

  .nav__menu {
    display: none;
  }

  .nav__button {
    margin: 0;
    position: absolute;
    bottom: 6px;
    right: 0;
  }
}

@media (max-width: 878px) {
  .header__address {
    display: none;
  }

  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .advantage__list-text {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantage__item-text {
    padding: 0;
  }

  .about__column {
    margin: 0;
  }

  .news__subtitle-all {
    display: none;
  }

  .video__block {
    display: none;
  }

  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }

  .footer__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
    border: none;
    margin: 0;
  }

  .footer__icons {
    display: none;
  }

  .footer__item {
    padding: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 560px) {
  .header__phone {
    display: none;
  }

  .about__list-title {
    margin: 0;
  }

  .service {
    display: none;
  }
}

@media (max-width: 320px) {
  .nav__button {
    display: none;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1255px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 878px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}
